.popover-card {
    background: #fff;
    border-radius: 0.5rem;
    cursor: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    width: fit-content;
    word-break: break-word;
  
    &:not(.no-padding) {
      padding: 1rem;
    }
  }
  
  ::ng-deep .event-arrow-extension {
    &.left {
      .container {
        align-items: center;
        display: flex;
        flex-direction: row;
  
        .arrow {
          border-color: transparent transparent #fff #fff;
          border-style: solid;
          border-width: 0.625rem;
          box-shadow: -0.375rem 0.375rem 0.5rem 0 rgba(0, 0, 0, 20%);
          content: '\A';
          height: 0;
          transform: rotate(45deg);
        }
  
        .popover-card {
          margin-left: -0.7rem;
        }
      }
    }
  
    &.right {
      .container {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
  
        .arrow {
          border-color: transparent transparent #fff #fff;
          border-style: solid;
          border-width: 0.625rem;
          box-shadow: -0.375rem 0.375rem 0.5rem 0 rgba(0, 0, 0, 20%);
          content: '\A';
          display: inline;
          height: 0;
          margin-left: -0.7rem;
          transform: rotate(225deg);
        }
      }
    }
  
    &.bottom {
      .container {
        display: flex;
        flex-direction: column-reverse;
  
        .arrow {
          border-color: transparent transparent #fff #fff;
          border-style: solid;
          border-width: 0.625rem;
          box-shadow: -0.375rem 0.375rem 0.5rem 0 rgba(0, 0, 0, 20%);
          content: '\A';
          display: inline;
          height: 0;
          left: 0.5rem;
          position: relative;
          transform: rotate(315deg);
          width: 0;
        }
  
        .popover-card {
          margin-bottom: -0.7rem;
        }
      }
    }
  
    &.top {
      .container {
        display: flex;
        flex-direction: column;
  
        .arrow {
          border-color: transparent transparent #fff #fff;
          border-style: solid;
          border-width: 0.625rem;
          box-shadow: -0.375rem 0.375rem 0.5rem 0 rgba(0, 0, 0, 20%);
          content: '\A';
          display: inline;
          height: 0;
          left: 0.5rem;
          position: relative;
          transform: rotate(135deg);
          width: 0;
        }
  
        .popover-card {
          margin-top: -0.7rem;
        }
      }
    }
  }