.event-scheduler-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    width: 100%;
  
    .time-marker-container {
      bottom: 0.5rem;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 999;
  
      .time {
        height: 100%;
        pointer-events: none;
        position: absolute;
        width: 100%;
      }
    }
  
    .calender {
      display: flex;
      height: calc(100% + 2rem);
      overflow: hidden;
      width: 100%;
  
      .calender-box-size {
        display: flex;
        height: 100%;
        width: 100%;
  
        &.day-range {
          height: calc(100% - 2rem);
          margin-left: 1rem;
        }
  
        &:not(.day-range, :first-child) {
          margin-left: 1rem;
        }
      }
    }
  
    .vertical-scroll-container {
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-left: 0.25rem;
      width: 0.75rem;
    }
  }
  
  .time-indicator {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
  
    .container {
      align-items: center;
      display: flex;
      left: 4rem;
      position: relative;
      width: calc(100% - 5rem);
  
      .dot {
        background-color: #a21c1c;
        border-radius: 50%;
        display: inline-block;
        height: 0.5rem;
        pointer-events: all;
        position: absolute;
        top: -0.2rem;
        width: 0.5rem;
      }
  
      .line {
        border-top: 0.1rem solid #a21c1c;
        width: 100%;
      }
    }
  }
  
  .scale-stamps-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 3.5rem;
  
    .scale {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  
    .stamps {
      min-width: 3.5rem;
      overflow: hidden;
  
      .stamp {
        display: flex;
        font-size: 0.75rem;
        font-weight: 400;
        justify-content: flex-end;
        line-height: 1.125rem;
        width: 3.5rem;
  
        &:not(:last-child) {
          height: 3.375rem;
        }
      }
    }
  }
  
  .grid-lines {
    bottom: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 3.75rem;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: calc(100% - 4.25rem);
    z-index: 50;
  
    .grid {
      border-top: 0.0625rem solid #ebedee;
      box-sizing: border-box;
  
      &:not(:last-child) {
        max-height: 3.375rem;
        min-height: 3.375rem;
      }
    }
  }
  
  .grid-top {
    &-no-header {
      margin-top: 6.5rem;
    }
  
    &-header {
      margin-top: 9.5rem;
    }
  
    &-day {
      &-no-header {
        margin-top: 2.5rem;
      }
  
      &-header {
        margin-top: 5.5rem;
      }
    }
  }
  
  .time-top {
    &-no-header {
      max-height: 6rem;
      min-height: 6rem;
    }
  
    &-header {
      max-height: 9rem;
      min-height: 9rem;
    }
  
    &-day {
      &-no-header {
        max-height: 2rem;
        min-height: 2rem;
      }
  
      &-header {
        max-height: 5rem;
        min-height: 5rem;
      }
    }
  }