<div class="view-control">
  <button
    mat-flat-button
    color="primary"
    (click)="scrollTo5()"
    class="scroll-to"
  >
    Scroll to EventDTO 5
  </button>
</div>

<div class="calender">
  <app-event-calendar
    [calendarView]="view"
    [resourceEvents]="resourceEvents"
    [date]="date"
    [showPopOverOnClick]="false"
    [hasCardTitle]="false"
    [overlayCloseSubject]="overlayCloseSubject"
    [blockedSlots]="blockedSlots"
    (badgeClicked)="onBadgeClicked()"
    (eventClicked)="onEventClicked($event)"
    (addEventInMonthClicked)="onAddEventInMonthClicked($event)"
    (addEventInDayRangeClicked)="onAddEventInDayRangeClicked($event)"
  >
    <ng-template #popoverContent>
      <div class="pop-over">
        <p>content</p>
        <span>{{ clickedEvent | json }}</span>
        <div class="close-button">
          <button mat-flat-button color="primary" (click)="closePopOver()">
            Close
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template #resourceTitle let-resourceId="resourceId">
      <div class="title">
        <span>{{ resourceId }}</span>
      </div>
    </ng-template>
  </app-event-calendar>
</div>